/*table, th, td {
  border: 1px solid black;
}*/

#changelist-filter {
  top: auto;
}

body {
  font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

a:link, a:visited {
  color: #447e9b;
  text-decoration: none;
}

thead th, tbody td {
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid #eee;
  vertical-align: top;
  padding: 8px;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

thead th {
    background-color:#FFFFFF;
}

.results {
    margin-right: 280px;
    width: auto;
}

h2 {
  margin-top: 2em;
}

h3 {
  margin-top: 2em;
}

.currency {
  text-align: right;
}

tfoot th {
  text-align: right;
}

input[required] {

    background-image: url('data:image/svg+xml,\
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="-10 -6 16 16"> \
  <line id="line" y1="-3" y2="3" stroke="%23df0000" stroke-linecap="butt" transform="rotate(15)"></line> \
  <line id="line" y1="-3" y2="3" stroke="%23df0000" stroke-linecap="butt" transform="rotate(75)"></line> \
  <line id="line" y1="-3" y2="3" stroke="%23df0000" stroke-linecap="butt" transform="rotate(-45)"></line> \
</svg>');
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;

}

input[required]:valid {
    background-image: url('data:image/svg+xml,\
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" viewBox="-2 -2 16 16"> \
            <path fill="green" stroke-linejoin="round" d="M2 6L1 7l3 4 7-10h-1L4 8z"/> \
</svg>');
}


tr:nth-child(even) {background: #f9f9f9}
tr:nth-child(odd) {background: #FFF}
