{% extends 'costs/base.html' %}
{% load humanize %}
{% block body %}
    {% for application in applications %}
        <h2>{{ application.customer }}</h2>
        <h3>Informasjon</h3>
        <table>
        {% if application.sector %}
            <tr>
                <th>{{ fields.sector }}</th>
                <td>{{ application.sector.name }}</td>
            </tr>
        {% endif %}
        {% if application.vendor %}
            <tr>
                <th>{{ fields.vendor }}</th>
                <td>{{ application.vendor }}</td>
            </tr>
        {% endif %}
        {% if application.responsible %}
            <tr>
                <th>{{ fields.responsible }}</th>
                <td>{{ application.responsible }}</td>
            </tr>
        {% endif %}
        {% if application.super_user %}
            <tr>
                <th>{{ fields.super_user }}</th>
                <td>{{ application.super_user }}</td>
            </tr>
        {% endif %}
        </table>
        {% if application.servers.count %}
        <h3>Servere</h3>
        <table>
        <tr>
            {% if perms.costs.view_server %}
            <th>Navn</th>
            {% endif %}
            <th>Type</th>
            <th>Tjeneste</th>
        <th title="Applikasjonens andel av serverens driftskostnad per m&aring;ned">Kostnad</th>
        </tr>
            {% for server in application.servers.all %}
                <tr>
                {% if perms.costs.view_server %}
                    <th><a href="{% url 'costs:server' customer=server.customer name=server.name %}">{{ server.name }}</a></th>
                {% endif %}
                <td>{{ server.type|default:"" }}</td>
                    <td>{{ server.product.name }}</td>
                <td>{{ server.application_cost|intcomma }}kr</td>
                </tr>
            {% endfor %}
        {% endif %}
        </table>
        {% if application.integrations.count %}
        <h3>Integrert med</h3>
        <table>
        <tr>
            <th>Applikasjon</th>
            <th>Sektor</th>
        </tr>
        {% for integration in application.integrations.all %}
        <tr>
            <th><a href="{% url 'costs:application' %}?name={{ integration.name|urlencode }}&amp;customer={{ integration.customer.id|urlencode }}">{{ integration.name }}</a></th>
            <td>{{ integration.department.sector.name }}</td>
        </tr>
        {% endfor %}
        </table>
        {% endif %}

        <h3>&Aring;rlige kostnader</h3>
        <table>
            <tr>
                <th>Lisens</th>
                <td data-sort="{{ application.licence_cost }}">{{ application.licence_cost|intcomma }}kr</td>
            </tr>
            {% if application.external_cost %}
            <tr>
                <th>Konsulent</th>
                <td data-sort="{{ application.external_cost }}">{{ application.external_cost|intcomma }}kr</td>
            </tr>
            {% endif %}
            {% if application.internal_hours %}
            <tr>
                <th>StorFollo IKT drift</th>
                <td data-sort="{{ application.internal_hour_cost_year }}">{{ application.internal_hour_cost_year|intcomma }}kr</td>
            </tr>
            {% endif %}
            {% if application.servers.count %}
            <tr>
                <th>{{ application.servers.count }} server(e):</th>
                <td data-sort="{{ application.server_cost_year }}">{{ application.server_cost_year|intcomma }}kr</td>
            </tr>
            {% endif %}

        </table>
        <br />
        {% if perms.costs.change_server %}
        <a href="{% url 'costs:application_form' %}?customer={{ application.customer.id }}&amp;name={{ application.name|urlencode }}">Endre {{ application.name }} hos {{application.customer }}</a>
        {% endif %}
        <br />
        {% if perms.costs.change_costdistribution %}
        <a href="{% url 'costs:cost_distribution' %}?application={{ application.id }}">Fordel kostander for {{ application.name }} hos {{application.customer }}</a>
        {% endif %}

    {% endfor %}

    {% if customer %}
        <br /><a href="{% url 'costs:application' %}?name={{ application_name|urlencode }}">Vis {{ application_name }} hos alle kunder</a>
    {% endif %}

{% endblock %}