{% load humanize %}
<table>
    <thead>
    <tr>
        {% if not customer %}
            <th>Kunde</th>
        {% endif %}
        {% if not sector %}
            <th>Sektor</th>
        {% endif %}
        {% if not department %}
            <th>Enhet</th>
        {% endif %}
        <th>Applikasjon</th>
        <th title="Kostnad fra leverandør per år">Leverand&oslash;rkostnad</th>
        <th title="Tilrettelegging, drift og support Storfollo IKT">Drift StorFollo IKT</th>
        <th>Totalt per &aring;r</th>
    </tr>
    </thead>
    <tbody>
    {% for application in applications %}
        <tr>
            {% if not customer %}
                <td>{{ application.customer }}</td>
            {% endif %}
            {% if not sector %}
                <td>{{ application.department.sector.name }}</td>
            {% endif %}
            {% if not department %}
                <td>{{ application.department.name }}</td>
            {% endif %}
            <td>{{ application.name }}</td>
            <td data-sort="{{ application.external_cost_total }}">{{ application.external_cost_total|intcomma }}&nbsp;kr</td>
            <td data-sort="{{ application.internal_hour_cost_year }}">{{ application.internal_hour_cost_year|intcomma }}&nbsp;kr</td>
            <td data-sort="{{ application.total_year }}">{{ application.total_year|intcomma }}&nbsp;kr</td>
        </tr>
    {% endfor %}
    </tbody>
</table>