{% extends 'costs/base.html' %}
{% block body %}
    {% for application in applications %}
        <h2>{{ application.customer }}</h2>
        <h3>Informasjon</h3>
        <table>
        {% if application.department %}
            <tr>
                <th>{{ fields.department }}</th>
                <td>{{ application.department.name }}</td>
            </tr>
        {% endif %}
        {% if application.vendor %}
            <tr>
                <th>{{ fields.vendor }}</th>
                <td>{{ application.vendor }}</td>
            </tr>
        {% endif %}
        {% if application.responsible %}
            <tr>
                <th>{{ fields.responsible }}</th>
                <td>{{ application.responsible }}</td>
            </tr>
        {% endif %}
        {% if application.super_user %}
            <tr>
                <th>{{ fields.super_user }}</th>
                <td>{{ application.super_user }}</td>
            </tr>
        {% endif %}
        </table>
        {% if application.servers.count %}
        <h3>Servere</h3>
        <table>
        <tr>
            <th>Navn</th>
            <th>Type</th>
        </tr>
            {% for server in application.servers.all %}
                <tr>
                    <th><a href="{% url 'costs:server' customer=server.customer name=server.name %}">{{ server.name }}</a></th>
                    <td>{{ server.product.name }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </table>
        <h3>&Aring;rlige kostnader</h3>
        <table>
            <tr>
                <th>Lisens</th>
                <td>{{ application.licence_cost }}kr</td>
            </tr>
            {% if application.external_cost %}
            <tr>
                <th>Konsulent</th>
                <td>{{ application.external_cost }}</td>
            </tr>
            {% endif %}
            {% if application.servers.count %}
            <tr>
                <th>{{ application.servers.count }} server(e):</th>
                <td>{{ application.server_cost }}kr</td>
            </tr>
            {% endif %}

        </table>
        <br />
        <a href="{% url 'costs:application_form' %}?customer={{ application.customer.id }}&amp;application={{ application.name }}">Endre {{ application.name }} hos {{application.customer }}</a>
    {% endfor %}

    {% if customer %}
        <br /><a href="{% url 'costs:application' name=application_name %}">Vis {{ application_name }} hos alle kunder</a>
    {% endif %}

{% endblock %}