{% load static %}


<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    {% if not title %}
        <title>StorFollo IKT &oslash;konomimodell</title>
    {% else %}
        <title>StorFollo IKT &oslash;konomimodell - {{ title }}</title>
    {% endif %}

    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'costs/costs.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'costs/menu.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css"
          href="{% static 'costs/node_modules/datatables.net-dt/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'costs/node_modules/datatables.net-fixedheader-dt/css/fixedHeader.dataTables.min.css' %}">
    <script src="{% static 'costs/node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'costs/node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'costs/node_modules/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'costs/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'costs/node_modules/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'costs/node_modules/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'costs/menu.js' %}"></script>
    <script>$.extend(true, $.fn.dataTable.defaults, {
        "paging": false,
        "language": {"url": "{% static 'costs/Norwegian-Bokmal.json' %}"}
    });</script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="menu">
    <img src="{% static 'costs/logo.png' %}" alt="StorFollo IKT logo" style="max-height: 50px"/>
    <div class="myNav">
        <ul class="top_menu">
            {% if perms.costs.view_application %}
                <li><a href="{% url 'costs:applications' %}">Applikasjoner</a></li>
            {% endif %}
            {% if perms.costs.view_server %}
                <li><a href="{% url 'costs:servers' %}">Servere</a></li>
            {% endif %}
            {% if perms.costs.view_customer %}
                <li><a href="{% url 'costs:customers' %}">Kunder</a></li>
            {% endif %}
            {% if perms.costs.view_sector %}
                <li><a href="{% url 'costs:sectors' %}">Sektorer</a></li>
            {% endif %}
            {% if perms.costs.view_application %}
                <li><a href="{% url 'costs:portfolio' %}">Porteføljeoversikt</a></li>
            {% endif %}
            {% if perms.costs.view_workstation %}
                <li><a href="{% url 'costs:workstations' %}">Arbeidsstasjoner</a></li>
            {% endif %}
            {% if perms.costs.view_application %}
                <li><a href="{% url 'costs:report' %}">Rapport</a></li>
            {% endif %}
            {% if perms.employee_info.view_resource %}
                <li><a href="{% url 'employee_info_browser:index' %}">Ansatte</a></li>
            {% endif %}
            {% if perms.costs.view_product %}
                <li><a href="{% url 'costs:licences' %}">Lisenser</a></li>
            {% endif %}
            {% if perms.costs.add_application %}
                <li><a href="{% url 'costs:application_form' %}">Ny applikasjon</a></li>
            {% endif %}
            {% if perms.costs.add_server %}
                <li><a href="{% url 'costs:server_form' %}">Ny server</a></li>
            {% endif %}
            {% if not user.is_authenticated %}
                <li><a href="{% url 'account_login' %}">Logg inn</a></li>
            {% else %}
                <li><a href="{% url 'account_logout' %}">Logg ut</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div id="content" class="flex">
    <h1>{{ title|capfirst }}</h1>
    {% block body %}
    {% endblock %}
</div>
</body>
</html>