{% extends 'costs/base.html' %}
{% load humanize %}

{% block body %}
{% include 'costs/products_table.html' %}
    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#products thead tr').clone(true).appendTo('#products thead');
            $('#products thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('#products').DataTable({
                orderCellsTop: true,
                fixedHeader: true
            });
        });
    </script>
{% endblock %}