{% extends 'costs/base.html' %}
{% load humanize %}
{% block body %}
    <table class="display">
        <thead>
        <tr>
            <th>Sektor</th>
            <th>Kunde</th>
            <th>Applikasjoner</th>
            <th>Servere</th>
            <th>&Aring;rlig lisenskostnad</th>
            <th>&Aring;rlig serverkostnad</th>
            <th>&Aring;rlig driftskostnad</th>
        </tr>
        </thead>
        <tbody>
        {% for sector in sectors %}
            <tr>
                <td>{{ sector.name }}</td>
                <td>{{ sector.customer }}</td>
                <td>
                    <a href="{% url 'costs:applications' %}?sector={{ sector.name }}&customer={{ sector.customer }}">{{ sector.applications.count }}</a>
                </td>
                <td>{{ sector.servers.count }}</td>
                <td data-sort="{{ sector.licence_costs }}">{{ sector.licence_costs|intcomma }}kr</td>
                <td data-sort="{{ sector.server_costs }}">{{ sector.server_costs|intcomma }}kr</td>
                <td data-sort="{{ sector.costs }}">{{ sector.costs|intcomma }}kr</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <script>$(document).ready(function () {
        $('table.display').DataTable({
            "order": [[4, "asc"]],
            fixedHeader: true
        });
    });</script>
{% endblock %}
