{% extends 'costs/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'admin/css/changelists.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'costs/filter.css' %}" type="text/css">
    <script type="application/javascript" src="{% static 'costs/filter.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="module filtered" id="changelist">
        <div id="filter">
            <h2>Filtrering</h2>
            <form method="get">
                <h3><label for="active_input">Aktiv siste dager</label></h3>
                {% if selected_customer %}
                    <input type="hidden" name="customer" value="{{ selected_customer }}">
                {% endif %}
                <input type="text" name="active" id="active_input" size="2" value="90"/>
                <input type="submit" value="Vis">
            </form>
        </div>
    </div>
    <div class="results">
        <table class="display">
            <thead>
            <tr>
                <th>Kunde</th>
                <th>Server</th>
                <th>Type</th>
                <th>Tjeneste</th>
                <th>Applikasjoner</th>
                <th>Sist aktiv</th>
            </tr>
            </thead>
            <tbody>
            {% for server in servers %}
                <tr>
                    <td><a href="?customer={{ server.customer }}">{{ server.customer }}</a></td>
                    <td>
                        <a href="{% url 'costs:server' customer=server.customer name=server.name %}">{{ server.name }}</a>
                    </td>
                    <td>{{ server.type|default:"" }}</td>
                    <td>{{ server.product }}</td>
                    <td>
                        <a href="{% url 'costs:applications' %}?customer={{ server.customer }}&server={{ server.name }}">{{ server.applications.count }}</a>
                    </td>
                    <td>{{ server.last_logon|default:"" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>$(document).ready(function () {
        $('table.display').DataTable({
            "order": [[0, "asc"]],
            fixedHeader: {
                headerOffset: $('.myNav').outerHeight()
            }
        });
    });</script>

    {{ customers|json_script:'customer-data' }}
    {{ types|json_script:'type-data' }}
    {{ products|json_script:'product-data' }}
    <script type="application/javascript">
      const filter_group = new filterGroup('filter')
      filter_group.addFilterJson('customer', 'Etter kunde')
      filter_group.addFilterJson('type', 'Etter type')
      filter_group.addFilterJson('product', 'Etter tjeneste')
    </script>
{% endblock %}