{% extends 'costs/base.html' %}

{% block body %}
    <table>
        <tr>
            <th>Kunde</th>
            <td>{{ user.customer }}</td>
        </tr>
        <tr>
            <th>Navn</th>
            <td>{{ user.name }}</td>
        </tr>
        {% if perms.ad_import.view_user %}
        <tr>
            <th>AD</th>
            <td>{{ user.ad_object }}</td>
        </tr>
        {% endif %}
        {% if perms.employee_info.view_resource and user.employee %}
            <tr>
                <th>Ansatt</th>
                <td><a href="{% url 'employee_info_browser:resource' %}?company={{ user.company }}&amp;employee={{ user.employee.resourceId }}">{{ user.employee.resourceId }}</a></td>
            </tr>
        {% endif %}
        {% if perms.costs.view_student and user.student %}
            <tr>
                <th>Elev</th>
                <td>{{ user.student }}</td>
            </tr>
        {% endif %}

    </table>

    {% if perms.costs.view_workstation and user.workstations.count %}
        <br/>
        <h2>Primærbruker av arbeidsstasjoner</h2>
        {% include 'costs/workstations.html' with workstations=user.workstations.all %}
    {% endif %}
    {% if perms.costs.view_workstation and user.workstations_user.count %}
        <br/>
        <h2>Siste bruker av arbeidsstasjoner</h2>
        {% include 'costs/workstations.html' with workstations=user.workstations_user.all %}
    {% endif %}
    <br/>
    {% if show_pus and user.pus_id %}
        <a href="https://storfolloikt.pureservice.com/agent/app#/user/{{ user.pus_id }}/information">Vis bruker i
            PureService</a>
    {% endif %}

{% endblock %}