{% extends 'costs/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'costs/filter.css' %}" type="text/css">
    <script type="application/javascript" src="{% static 'costs/filter.js' %}"></script>
{% endblock %}
{% block body %}
    <div id="filter">
        <h2>Filtrering</h2>
    </div>
    {{ customers|json_script:'customer_name-data' }}
    {{ os|json_script:'os-data' }}
    <script>
        const filter_group = new filterGroup('filter')
        filter_group.addFilterJson('customer_name', 'Etter kunde')
        filter_group.addFilterBool('user', 'Har bruker')
        filter_group.addFilterBool('employee', 'Er ansatt')
        filter_group.addFilterJson('os', 'Operativsystem')
    </script>
    <div class="results">
    <table id="workstations">
        <thead>
        <tr>
            <th>Kunde</th>
            <th>Navn</th>
            <th>Merke</th>
            <th>Modell</th>
            <th>Serienummer</th>
            <th>Bruker</th>
            <th>Sist pålogget</th>
            <th>Ansatt</th>
            <th>Ansvar</th>
            {% if show_pus %}
            <th title="Link til PureService">PUS</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for workstation in workstations %}
            <tr>
                <td>{{ workstation.customer }}</td>
                <td><a href="{% url 'costs:workstation' %}?id={{ workstation.id }}">{{ workstation.name }}</a></td>
                <td>{{ workstation.manufacturer }}</td>
                <td>{{ workstation.model }}</td>
                <td>{{ workstation.serial }}</td>
            {% if workstation.user %}
                <td><a href="{% url 'costs:user' %}?id={{ workstation.user.id }}">{{ workstation.user.display_name}}</a> </td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{ workstation.last_logon }}</td>
                {% if workstation.user.employee %}
                    <td>
                        <a href="{% url 'employee_info_browser:resource' %}?company={{ workstation.user.customer.company }}&amp;value={{ workstation.user.employee.resourceId }}">{{ workstation.user.employee.resourceId }}</a>
                    </td>
                {% elif workstation.user.student %}
                    <td>Elev</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ workstation.get_cost_center|default:"" }}</td>
                {% if show_pus %}
                    {% if workstation.pus_id %}
                        <td title="Vis ressurs {{ workstation.pus_id }} i PureService">
                            <a href="https://storfolloikt.pureservice.com/agent/app#/asset/{{ workstation.pus_id }}/details">{{ workstation.pus_id }}</a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <script>$(document).ready(function () {
        $('#workstations').DataTable({
            "order": [[3, "asc"]],
            fixedHeader: {
                headerOffset: $('.myNav').outerHeight()
            }
        });
    });</script>
{% endblock %}