<table>
    <tr>
        <th>Navn</th>
        <th>Merke</th>
        <th>Modell</th>
        {% if show_pus %}
            <th></th>
        {% endif %}
    </tr>
    {% for workstation in workstations %}
        <tr>
            <td><a href="{% url 'costs:workstation' %}?id={{ workstation.id }}">{{ workstation.name }}</a></td>
            <td>{{ workstation.manufacturer }}</td>
            <td>{{ workstation.model }}</td>
            {% if show_pus and workstation.pus_id %}
                <td>
                    <a href="https://storfolloikt.pureservice.com/agent/app#/asset/{{ workstation.pus_id }}/details">PUS</a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>