{% extends 'costs/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'admin/css/changelists.css' %}" type="text/css">
{% endblock %}
{% block body %}
    <div class="module filtered" id="changelist">
        <div id="changelist-filter">
            <h2>Filtrering</h2>
            <h3>Etter kunde</h3>
            <ul>
                <li><a href="{% url 'costs:workstations' %}">Alle</a></li>
                {% for customer in customers %}
                    <li {% if customer.id == selected_customer %} class="selected" {% endif %}
                    ><a href="{% url 'costs:workstations' %}?customer={{ customer.id }}&amp;has_employee={{ has_employee }}&amp;has_user={{ has_user }}">{{ customer.name }}</a></li>
                {% endfor %}
            </ul>
            <h3>Har bruker</h3>
            <ul id="has_user">
                <li data-value="true"><a href="?customer={{ selected_customer }}&amp;has_employee={{ has_employee }}&amp;has_user=true">Ja</a>
                </li>
                <li data-value="false">
                    <a href="?customer={{ selected_customer }}&amp;has_employee={{ has_employee }}&amp;has_user=false">Nei</a>
                </li>
                <li data-value="null"><a href="?customer={{ selected_customer }}&amp;has_employee={{ has_employee }}">-</a></li>
            </ul>
        <h3>Er ansatt</h3>
            <ul id="has_employee">
                <li data-value="true"><a href="?customer={{ selected_customer }}&amp;has_employee=true&amp;has_user={{ has_user }}">Ja</a>
                </li>
                <li data-value="false">
                    <a href="?customer={{ selected_customer }}&amp;has_employee=false&amp;has_user={{ has_user }}">Nei</a>
                </li>
                <li data-value="null"><a href="?customer={{ selected_customer }}&amp;has_user={{ has_user }}">-</a></li>
            </ul>
        </div>
    </div>
    <div class="results">
    <table id="workstations">
        <thead>
        <tr>
            <th>Kunde</th>
            <th>Navn</th>
            <th>Merke</th>
            <th>Modell</th>
            <th>Serienummer</th>
            <th>Bruker</th>
            <th>Sist pålogget</th>
            <th>Ansatt</th>
            <th>Ansvar</th>
        </tr>
        </thead>
        <tbody>
        {% for workstation in workstations %}
            <tr>
                <td>{{ workstation.customer }}</td>
                <td>{{ workstation.name }}</td>
                <td>{{ workstation.manufacturer }}</td>
                <td>{{ workstation.model }}</td>
                <td>{{ workstation.serial }}</td>
            {% if workstation.user %}
                <td><a href="{% url 'costs:user' %}?id={{ workstation.user.id }}">{{ workstation.user.display_name}}</a> </td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{ workstation.last_logon }}</td>
                {% if workstation.user.employee %}
                    <td>
                        <a href="{% url 'employee_info_browser:resource' %}?company={{ workstation.user.customer.company }}&amp;value={{ workstation.user.employee.resourceId }}">{{ workstation.user.employee.resourceId }}</a>
                    </td>
                {% elif workstation.user.student %}
                    <td>Elev</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ workstation.get_cost_center|default:"" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <script>$(document).ready(function () {
        $('#workstations').DataTable({
            "order": [[3, "asc"]],
            fixedHeader: {
                headerOffset: $('.myNav').outerHeight()
            }
        });
    });</script>
    <script>
    const urlParams = new URLSearchParams(window.location.search);

    function filter_check(field) {
        let value = urlParams.get(field);
        if (value === 'None') {
            value = null;
        }
        console.log(field);
        console.log(value);

        $("#"+field+">li[data-value='"+value+"']").addClass('selected');
    }
    filter_check('has_user')
    filter_check('has_employee')

    </script>
{% endblock %}